@import "tailwindcss";

/* scroll bar */
::-webkit-scrollbar {
  width: 1px;
  background-color: #393e46;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ffd369;
  border-radius: 10px;
}

.primary-color {
  color: #222831 !important;
}
.secondary-color {
  color: #393e46 !important;
}
.text-color {
  color: #ffd369 !important;
}
.light-color {
  color: #eeeeee !important;
}
.bg-primary-color {
  background-color: #222831 !important;
}
.bg-secondary-color {
  background-color: #393e46 !important;
}
.bg-text-color {
  background-color: #ffd369 !important;
}
.bg-light-color {
  background-color: #eeeeee !important;
}
.active button {
  background-color: #ffd369 !important;
  color: #393e46 !important;
}
a {
  text-decoration: none;
}
.active button:hover button {
  opacity: 0.9 !important;
}
td,
tbody,
tfoot,
th,
thead,
tr {
  text-align: center !important;
}
